@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

:root {
    --blue-color: #5956e9;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'DM Sans', sans-serif;
}

img {
    max-width: 100%;
}

.btn-primary {
    background-color: var(--blue-color);
}

.text-primary {
    color: var(--blue-color) !important;
}

.navbar .navbar-brand {
    color: var(--blue-color);
}

.navbar .navbar-nav .nav-item .nav-link.active,
.navbar .navbar-nav .nav-item .nav-link:hover {
    color: var(--blue-color)
}

header .header-title {
    font-size: 72px;
}

section .section-title {
    font-size: 52px;
}

.card {
    transition: .3s;
}

.card i {
    font-size: 72px;
    color: var(--blue-color);
}

.card:hover {
    background-color: var(--blue-color);
}

.card:hover i, .card:hover h3, .card:hover p, .card:hover a {
    color: #FFFFFF !important;
}

@media screen and (max-width: 768px) {
    header .header-title {
        font-size: 42px
    }

    section .section-title {
        font-size: 36px;
    }
}